xcelium*
xrun*
imc*
.simvision
waves*
*.log
*.diag
jgproject
.symbol*
simvision/
restore.tcl
restore.tcl.svcf
*.svwf
*.vcd
*.dump

*.o
*.bin

ignore*

rvfi_macros.vh
rvviTrace.sv
*out_prog.txt

join.py
jg.tcl
run.py
base_testlist.yaml

*__pycache__*
*mytest/
cov_report/
